#Theory Question:-

1. What are data structures, and why are they important?
  -  Data structures are ways to organize and store data for efficient access and modification, they are essential for writing efficient algorithms and managing data effectively.
2. Explain the difference between mutable and immutable data types with examples?
  - Mutable data types (like lists, dictionaries) can be changed after creation, while immutable types (like strings, tuples) cannot be altered.     e.g., list = [1, 2] is mutable, but tuple = (1, 2) is not.
3. What are the main differences between lists and tuples in Python?
  - Lists are mutable and allow changes, whereas tuples are immutable and generally used for fixed data.
4. Describe how dictionaries store data?
  -  Dictionaries store data as key-value pairs using a hash table internally, allowing fast access by keys.
5. Why might you use a set instead of a list in Python?
  - Sets are used when you need unique elements and fast membership tests, unlike lists which allow duplicates.
6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters, while a list is a mutable sequence that can hold any data types.
7. How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity by preventing accidental modifications since their elements cannot be changed.
8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table maps keys to values using a hash function; Python dictionaries use hash tables to provide fast access.
9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types like [1, "apple", True].
10.  Explain why strings are immutable in Python?
  - Strings are immutable to ensure memory efficiency, consistency, and thread safety.
11. What advantages do dictionaries offer over lists for certain tasks?
  -  Dictionaries offer faster data lookup via keys and better organization for key-value relationships compared to lists.
12. Describe a scenario where using a tuple would be preferable over a list.
  - Use a tuple instead of a list when you want to store constant, unchangeable data like coordinates (x, y).
13. How do sets handle duplicate values in Python?
  -  Sets automatically eliminate duplicates, only storing one instance of each element.
14. How does the “in” keyword work differently for lists and dictionaries?
  - The "in" keyword checks for values in lists and keys in dictionaries, not values.
15. Can you modify the elements of a tuple? Explain why or why not?
  - No, tuple elements cannot be modified because tuples are immutable by design.
16.  What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary within another dictionary; e.g., storing student data like {"student1": {"name": "Alice", "age": 20}}.
17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing elements in a dictionary has average-case time complexity of O(1) due to hashing.
18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when the order of items matters or when storing sequential data without key-value associations.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are unordered in older Python versions (before 3.7), order is preserved in newer versions but not guaranteed for logic.
20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Lists retrieve data by index (position), while dictionaries retrieve data by key, offering more flexibility for named data access.

#Pratical Questions:-

In [1]:
# 1. Create a string with your name and print it
name = "Akansha"
print(name)

Akansha

In [2]:
# 2. Find the length of the string "Hello World"
print(len("Hello World"))

11

In [3]:
# 3. Slice the first 3 characters from the string "Python Programming"
print("Python Programming"[:3])

Pyt

In [4]:
# 4. Convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Replace "apple" with "orange" in the string "I like apple"
print("I like apple".replace("apple", "orange"))

I like orange

In [6]:
# 6. Create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Append the number 10 to the list [1, 2, 3, 4]
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [8]:
# 8. Remove the number 3 from the list [1, 2, 3, 4, 5]
lst2 = [1, 2, 3, 4, 5]
lst2.remove(3)
print(lst2)

[1, 2, 4, 5]

In [9]:
# 9. Access the second element in the list ['a', 'b', 'c', 'd']
chars = ['a', 'b', 'c', 'd']
print(chars[1])

b

In [10]:
# 10. Reverse the list [10, 20, 30, 40, 50]
nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [11]:
# 11. Create a tuple with the elements 100, 200, 300 and print it
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [13]:
# 13. Find the minimum number in the tuple (10, 20, 5, 15)
print(min((10, 20, 5, 15)))

5

In [14]:
# 14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
# 15. Create a tuple containing three fruits and check if "kiwi" is in it
fruits = ('apple', 'banana', 'orange')
print("kiwi" in fruits)

False

In [16]:
# 16. Create a set with elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [17]:
# 17. Clear all elements from the set {1, 2, 3, 4, 5}
s2 = {1, 2, 3, 4, 5}
s2.clear()
print(s2)

set()

In [18]:
# 18. Remove the element 4 from the set {1, 2, 3, 4}
s3 = {1, 2, 3, 4}
s3.discard(4)
print(s3)

{1, 2, 3}

In [19]:
# 19. Find the union of two sets {1, 2, 3} and {3, 4, 5}
print({1, 2, 3}.union({3, 4, 5}))

{1, 2, 3, 4, 5}

In [20]:
# 20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}
print({1, 2, 3}.intersection({2, 3, 4}))

{2, 3}

In [21]:
# 21. Create a dictionary with keys "name", "age", "city", and print it
person = {"name": "John", "age": 30, "city": "New York"}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
# 22. Add a key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
person2 = {'name': 'John', 'age': 25}
person2["country"] = "USA"
print(person2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
# 23. Access the value associated with "name" in the dictionary {'name': 'Alice', 'age': 30}
person3 = {'name': 'Alice', 'age': 30}
print(person3["name"])

Alice

In [24]:
# 24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
person4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person4["age"]
print(person4)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Check if "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in person5)

True

In [26]:
# 26. Create a list, a tuple, and a dictionary, and print them
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [27]:
# 27. Create a list of 5 random numbers between 1 and 100, sort in ascending order, and print
import random
rand_nums = [random.randint(1, 100) for _ in range(5)]
rand_nums.sort()
print(rand_nums)

[24, 30, 33, 61, 89]

In [28]:
# 28. Create a list with strings and print the element at the third index
str_list = ["apple", "banana", "cherry", "date", "fig"]
print(str_list[3])

date

In [29]:
# 29. Combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [30]:
# 30. Convert a list of strings into a set
string_list = ["apple", "banana", "apple", "cherry"]
string_set = set(string_list)
print(string_set)

{'apple', 'cherry', 'banana'}