#Theory Questions:

1. What is the difference between a function and a method in Python?

   - Function: A block of code that is defined independently and can be called directly.

   - Method: A function that is associated with an object or class.

In [3]:
#Example
def greet():
    return "Hello"    # Function

print(greet())

# Method
name = "Python"
print(name.upper())

Hello
PYTHON

2. Explain the concept of function arguments and parameters in Python.
  - Parameter: A variable listed in the function definition.

  - Argument: A value passed to the function when it is called.

In [2]:
#Example
def add(a, b):
    return a + b

print(add(3, 5))

8

3. What are the different ways to define and call a function in Python?

   Ways to define:
  - Using def

 - Using lambda (anonymous function)

   Ways to call:

 - By name with parentheses

 - With arguments (positional, keyword, default)

In [4]:
#Example:

# Regular function
def square(x):
    return x * x

print(square(4))

# Lambda function
square_lambda = lambda x: x * x
print(square_lambda(4))

16
16

4. What is the purpose of the return statement in a Python function?
 - It ends the function and sends a value back to the caller.

In [5]:
#Example:

def multiply(x, y):
    return x * y

result = multiply(2, 3)
print(result)

6

5. What are iterators in Python and how do they differ from iterables?
 - Iterable: An object which can return an iterator (e.g., list, tuple).

 - Iterator: An object with a __next__() method and __iter__() method.

In [6]:
#Example:

nums = [1, 2, 3]
it = iter(nums)

print(next(it))

1

6. Explain the concept of generators in Python and how they are defined.
 - A generator is a function that yields a sequence of values using the yield keyword.

 - It produces items one at a time and saves memory.

In [7]:
#Example:

def gen_nums():
    for i in range(3):
        yield i

for num in gen_nums():
    print(num)

0
1
2

7. What are the advantages of using generators over regular functions?
 - Memory efficient: Does not store all values in memory.

 - Lazy evaluation: Values are generated only when needed.

 - Infinite sequences: Suitable for large/infinite data.

In [8]:
#Example (compared to list):

def gen():
    for i in range(1000000):
        yield i

8. What is a lambda function in Python and when is it typically used?
 - A small anonymous function defined using the lambda keyword.

 - Used for short operations, especially in map(), filter(), etc.

In [14]:
#Example:

add = lambda x, y: x + y
print(add(2, 3))

5

9. Explain the purpose and usage of the map() function in Python.
 - Applies a function to all items in an iterable.

In [15]:
#Example:

nums = [1, 2, 3]
squared = map(lambda x: x ** 2, nums)
print(list(squared))

[1, 4, 9]

10. What is the difference between map(), reduce(), and filter() functions in Python?

map()        

  - Purpose: 	Applies a function to each item

  - Example:  map(lambda x: x+1, [1,2]) → [2,3]

reduce()

 - Purpose: Applies function cumulatively to items

 - Example: 	reduce(lambda x, y: x+y, [1,2,3]) → 6

filter()

 - Purpose: Filters items that satisfy a condition
 - Example: filter(lambda x: x > 2, [1,2,3]) → [3]

In [16]:
#Example
from functools import reduce
nums = [1, 2, 3, 4]
total = reduce(lambda x, y: x + y, nums)
print(total)

10

11. Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given
list:[47,11,42,13];

       ![reduce.png]()

#Practical Questions:

In [19]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in  the list.
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

sum_even_numbers([1, 2, 3, 4, 5, 6])

12

In [18]:
#2. Create a Python function that accepts a string and returns the reverse of that string.
def reverse_string(s):
    return s[::-1]

reverse_string("hello")

'olleh'

In [20]:
#3. Implement a Python function that takes a list of integers and returns a new list containing the squares of  each number.
def square_list(numbers):
    return [num ** 2 for num in numbers]

square_list([1, 2, 3, 4])

[1, 4, 9, 16]

In [27]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
is_prime(180)

False

In [40]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.
class Fibonacci:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.n:
            raise StopIteration
        result = self.a
        self.a, self.b = self.b, self.a + self.b
        self.count += 1
        return result


for num in Fibonacci(10):
    print(num, end=' ')

0 1 1 2 3 5 8 13 21 34

In [41]:
#6. Write a generator function in Python that yields the powers of 2 up to a given exponent.
def powers_of_two(n):
    for i in range(n + 1):
        yield 2 ** i

print(list(powers_of_two(5)))

[1, 2, 4, 8, 16, 32]

In [48]:
#7. Implement a generator function that reads a file line by line and yields each line as a string.
def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

In [50]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
data = [(1, 3), (2, 1), (4, 2)]
sorted(data, key=lambda x: x[1])

[(2, 1), (4, 2), (1, 3)]

In [51]:
#9. Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.
celsius = [0,10,20,30,50]

list(map(lambda c: c*(9/5)+32, celsius))

[32.0, 50.0, 68.0, 86.0, 122.0]

In [52]:
#10. Create a Python program that uses filter() to remove all the vowels from a given string.
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ''.join(filter(lambda x: x not in vowels, s))

remove_vowels("Hello World")

'Hll Wrld'

11.  Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

Order Number   | Book Title                 | Quantity | Price per Item
-------------- | -------------------------- | -------- | ---------------
34587          | Learning Python            | 4        | 40.95
98762          | Programming Python         | 5        | 56.80
77226          | Head First Python          | 3        | 32.95
88112          | Einführung in Python3      | 3        | 24.99


Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10.00 € if the value of the order is smaller than 100.00 €.

Write a Python program using lambda and map.

In [55]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

result = list(map(lambda order:
    (order[0], order[2] * order[3] + 10 if order[2] * order[3] < 100 else order[2] * order[3]),
    orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]